@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<h1>Key: @KeyPressed</h1>
<input id="bug" type="button" onkeypress="@OnKeyPress" value="Please click here and try pressing keys" />

@functions {

  string KeyPressed;

  void OnKeyPress(UIKeyboardEventArgs args)
  {
      KeyPressed = args.Code;
  }

}